Repository cse110-sp21-group25/cse110-sp21-group25, pull requests merged in 2021-06, with the labels that each got.

#106 Updated Readme
  README.md
  project/config/guides/eslint-README.md
  project/config/guides/github-README.md
  project/config/guides/prettier-README.md
  project/config/guides/tool-links.md
Labels: documentation

#107 Testingtags
  project/package-lock.json
  project/package.json
  project/src/components/goals-board/goals-board.js
  project/src/components/mood-indicator/mood-indicator.js
  project/src/components/tags/tags.js
  project/testing/clock.test.js
  project/testing/quote-generator.test.js
  project/testing/tags.test.js
Labels: testing

#108 Consolidating tests
  .github/workflows/lint-and-unit-test.yml
  project/jest-puppeteer.config.js
  project/package.json
  project/testing/clock.test.js
  project/testing/end-to-end.test.js
  project/testing/example/sum.js
  project/testing/example/sum.test.js
  project/testing/goals-board.test.js
  project/testing/journal-entry.test.js
  project/testing/menu-symbols.test.js
  project/testing/mood-indicator.test.js
  project/testing/nav-bar.test.js
Labels: testing

#109 Added last few days of standup
  admin/standups/060921-standup.md
  admin/standups/061021-standup.md
Labels: documentation

#110 allow use to return to repo page from the home page in JSDocs
  project/config/JSDocs-README.md
  project/package.json
Labels: 1-easy, enhancement

#111 Fix tests
  project/src/components/goals-board/goals-board.js
  project/src/components/journal-entry/journal-entry.js
  project/src/components/menu-symbols/menu-symbols.js
  project/src/components/nav-bar/nav-bar.js
  project/src/components/tags/tags.js
  project/testing/clock.test.js
  project/testing/end-to-end.test.js
  project/testing/quote-generator.test.js
  project/testing/tags.test.js
Labels: testing
